.app {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.main {
    flex: 1;
    overflow: auto;
    background-color: #ffffff;
}

@media (max-width: 576px) {
    .app {
        flex-direction: column;
    }
    
    .main {
        flex: 1;
        height: 50vh;
    }
} 