# ThoughtSpot Configuration
TS_SECRET_KEY=your_thoughtspot_auth_token_here
TS_HOST=your_thoughtspot_host_here
GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_API_KEY=<Gemini api key here>

# Example:
# TS_SECRET_KEY=abc123def456ghi789
# TS_HOST=thoughtspot.example.com
# GOOGLE_GENAI_USE_VERTEXAI=FALSE
# GOOGLE_API_KEY=askdjfhuienadfasdf